<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>График</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chart.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="use-credentials"/>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&#38;display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="use-credentials"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&#38;display=swap" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
</head>
<body>
<div th:insert="~{components/menu :: content}"></div>
<div class="chart__container">
    <i class="material-icons small setting-icon">settings</i>
    <canvas id="myChart" width="500" height="500" class="chart"></canvas>
</div>
<div class="stats__form__container">
    <form class="stats__form" th:action="@{/app/2/stat}" method="GET" >
        <i class="material-icons stats__form__icon_close small">close</i>
        <div class="input-field stats__form__field">
            <select name="type">
                <option value="months" selected>По месяцам</option>
                <option value="hours">По часам</option>
                <option value="days">По дням</option>
            </select>
            <label>Вид</label>
        </div>
        <div class="input-field stats__form__field">
            <input id="from" type="text" class="datepicker" name="from">
            <label for="from" data-error="wrong" data-success="right">Начало</label>
        </div>
        <div class="input-field stats__form__field">
            <input id="to" type="text" class="datepicker" name="to">
            <label for="to" data-error="wrong" data-success="right">Конец</label>
        </div>
        <button class="stats__form__btn waves-effect waves-light btn-large deep-purple lighten-2"
                type="submit">Применить</button>
    </form>
</div>
<script type="text/javascript" th:inline="javascript">
    const ctx = document.getElementById('myChart').getContext('2d');
    const stats = /*[[${stats}]]*/;

    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: stats.map(stat => stat.date),
            datasets: [{
                label: 'App Events',
                data: stats.map(stat => stat.amount),
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<script type="text/javascript" th:src="@{/js/chart.js}"></script>
</body>
</html>
