<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" class="navbar">
    <nav class="deep-purple lighten-2">
        <div class="nav-wrapper">
            <p class="brand-logo menu__logo">devanmejia</p>
            <a href="#" data-target="menu-panel" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li th:attr="class=${#httpServletRequest.requestURI == '/' ? 'active' : ''}">
                    <a class="menu__link"
                       th:classappend="${#httpServletRequest.requestURI == '/' ?  'menu__link_active' : ''}"
                       th:href="@{'/'}">На главную</a>
                </li>
                <li sec:authorize="isAuthenticated()"
                    th:attr="class=${#httpServletRequest.requestURI == '/notes' ? 'active' : ''}">
                    <a class="menu__link"
                       th:classappend="${#httpServletRequest.requestURI == '/notes' ?  'menu__link_active' : ''}"
                       th:href="@{'/notes'}">Записки</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="log-out"
                    th:classappend="${#httpServletRequest.requestURI == '/auth/log-out' ? 'active' : ''}">
                    <a th:style="${#httpServletRequest.requestURI == '/auth/log-out' ?  'pointer-events: none;cursor: default; font-size: 20px;' : 'font-size: 20px;'}"
                       href="javascript: document.menuLogoutForm.submit()" style="font-size: 20px;">Выход</a>
                    <form name="menuLogoutForm" th:action="@{/auth/log-out}" method="POST" th:hidden="true">
                        <input hidden="hidden" type="submit" value="Sign Out" />
                    </form>
                </li>
                <li sec:authorize="!isAuthenticated()"
                    th:attr="class=${#httpServletRequest.requestURI == '/auth/sign-up' ? 'active' : ''}">
                    <a class="menu__link"
                       th:classappend="${#httpServletRequest.requestURI == '/auth/sign-up' ?  'menu__link_active' : ''}"
                       th:href="@{'/auth/sign-up'}">Регистрация</a>
                </li>
                <li sec:authorize="!isAuthenticated()"
                    th:attr="class=${#httpServletRequest.requestURI == '/auth/log-in' ? 'active' : ''}">
                    <a class="menu__link"
                       th:classappend="${#httpServletRequest.requestURI == '/auth/log-in' ?  'menu__link_active' : ''}"
                       th:href="@{'/auth/log-in'}">Вход</a>
                </li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav deep-purple lighten-5" id="menu-panel">
        <li th:attr="class=${#httpServletRequest.requestURI == '/' ? 'active' : ''}">
            <a class="menu__link"
               th:classappend="${#httpServletRequest.requestURI == '/' ?  'menu__link_active' : ''}"
               th:href="@{'/'}">На главную</a>
        </li>
        <li sec:authorize="isAuthenticated()"
            th:attr="class=${#httpServletRequest.requestURI == '/notes' ? 'active' : ''}">
            <a class="menu__link"
               th:classappend="${#httpServletRequest.requestURI == '/notes' ?  'menu__link_active' : ''}"
               th:href="@{'/notes'}">Записки</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="log-out"
            th:classappend="${#httpServletRequest.requestURI == '/auth/log-out' ? 'active' : ''}">
            <a th:style="${#httpServletRequest.requestURI == '/auth/log-out' ?  'pointer-events: none;cursor: default; font-size: 20px;' : 'font-size: 20px;'}"
               href="javascript: document.panelLogoutForm.submit()" style="font-size: 20px;">Выход</a>
            <form name="panelLogoutForm" th:action="@{/auth/log-out}" method="POST" th:hidden="true">
                <input hidden="hidden" type="submit" value="Sign Out" />
            </form>
        </li>
        <li sec:authorize="!isAuthenticated()"
            th:attr="class=${#httpServletRequest.requestURI == '/auth/sign-up' ? 'active' : ''}">
            <a class="menu__link"
               th:classappend="${#httpServletRequest.requestURI == '/auth/sign-up' ?  'menu__link_active' : ''}"
               th:href="@{'/auth/sign-up'}">Регистрация</a>
        </li>
        <li sec:authorize="!isAuthenticated()"
            th:attr="class=${#httpServletRequest.requestURI == '/auth/log-in' ? 'active' : ''}">
            <a class="menu__link"
               th:classappend="${#httpServletRequest.requestURI == '/auth/log-in' ?  'menu__link_active' : ''}"
               th:href="@{'/auth/log-in'}">Вход</a>
        </li>
    </ul>
    <script type="text/javascript" th:src="@{/js/menu-panel.js}"></script>
</div>
</body>
</html>
