<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Записки</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/notes.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div th:insert="~{components/menu :: content}"></div>
<div class="notes">
    <div class="notes__container">
        <div class="notes__list">
            <div class="notes__list__header">
                <p class="notes__list__header__text">Записки</p>
                <p class="notes__list__header__add">
                    <a th:href="@{/notes/add}"><i class="material-icons small">add</i></a>
                </p>
            </div>
            <div th:if="${!notes.isEmpty()}" class="notes__list__table">
                <th:block th:each="note : ${notes}">
                    <div class="notes__list__table__note">
                        <p class="notes__list__table__note__title">
                            <span th:text="${note.title()}"></span>
                            <a class="notes__list__table__note__action hidden"
                               th:href="@{/notes/{noteId}/update(noteId=${note.id()})}">
                                <i class="material-icons prefix notes__list__table__note__icon">edit</i>
                            </a>
                            <a class="notes__list__table__note__action hidden"
                               th:href="@{/notes/{noteId}/delete(noteId=${note.id()})}">
                                <i class="material-icons prefix notes__list__table__note__icon">delete</i>
                            </a>
                        </p>
                        <p class="notes__list__table__note__text" th:text="${note.text()}"></p>
                        <p class="notes__list__table__note__text__time" th:text="${note.timeStr()}"></p>
                    </div>
                </th:block>
            </div>
            <p th:if="${notes.isEmpty()}" class="notes__list__table_empty">Список пуст</p>
        </div>
    </div>
</div>
<div class="pagination">
    <a class="pagination__element" th:classappend="${currentPage > 1 ? '' : 'invisible'}"
       th:href="@{/notes?page={page}(page=${currentPage - 1})}">&laquo;</a>
    <a class="pagination__element"
          th:each="i : ${#numbers.sequence(1, pageAmount, 1)}"
          th:text="${i}"
          th:href="@{/notes?page={page}(page=${i})}"
          th:classappend="${i == currentPage ? 'active' : ''}">
    </a>
    <a class="pagination__element"
       th:classappend="${currentPage < pageAmount ? '' : 'invisible'}"
       th:href="@{/notes?page={page}(page=${currentPage + 1})}">&raquo;</a>
</div>
<script type="text/javascript" th:src="@{/js/notes.js}"></script>
</body>
</html>
