.auth{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d1c4e9;
    height: calc(100vh - 64px);
}
.auth__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 64px);
}
.auth__form {
    background-color: #ffffff;
    width: 500px;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    -webkit-box-shadow: 13px 16px 15px 3px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 13px 16px 15px 3px rgba(34, 60, 80, 0.4);
    box-shadow: 13px 16px 15px 3px rgba(34, 60, 80, 0.4);
}
.auth__form__field{
    margin: 0 20px;
    padding: 0;
}
.auth__form__error{
    text-align: center;
    color: 	#ff3333;
}
.auth__form__btn{
    width: 100%;
}
