.notes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #d1c4e9;
    height: calc(100vh - 64px - 49px);
    overflow: auto;
}
.notes__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 64px - 49px);
    width: 100vw;
}
.notes__list{
    width: 60%;
    margin: 0 auto;
    border-radius: 2px;
    -webkit-box-shadow: 13px 16px 15px 3px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: 13px 16px 15px 3px rgba(34, 60, 80, 0.4);
    box-shadow: 13px 16px 15px 3px rgba(34, 60, 80, 0.4);
}
.notes__list__header{
    font-size: 27px;
    background-color: #9575cd;
    padding: 10px 30px 10px 30px;
    color: #ffffff;
}
.notes__list__table{
    max-height: 514px;
    overflow: auto;
}
.notes__list__table__note{
    border-top: solid 1px #bdbdbd;
    background-color: #ffffff;
}
.notes__list__table__note__title{
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
}
.notes__list__table__note__text{
    margin: 0;
    font-size: 20px;
    padding: 0 30px 10px 30px;
}
.pagination {
    background-color: #d1c4e9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}
.pagination__element {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.active {
    background-color: #9575cd;
    color: white;
}
.pagination__element:hover:not(.active) {
    cursor: pointer;
    background-color: #b39ddb ;
}
